<%= form_for  @post do |post| %>
  <label>Post title:</label><br>
  <%= post.text_field :title %><br>

  <label>Post Description</label><br>
  <%= post.text_area :description %><br>

  <%= post.submit"Submit Post" %>
<% end %>